.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 1350px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image{
    margin-right: 100px;
}